* {
  font-family: inherit;
}

.fle-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding: 3rem;
  background-color: rgba(0, 62, 98, 0.4392156863);
  color: white;
  font-weight: 100;
}
.fle-info h1 {
  color: #227dc6;
}