* {
  font-family: FlenderType, Arial, sans-serif;
}

h1, h2, h3, p {
  font-family: FlenderType, Arial, sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

:host {
  display: block;
}

.fle-product-list-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding: 3rem;
  font-weight: 100;
  gap: 16px;
}
.fle-product-list-item h3 {
  color: #227dc6;
  font-size: 30px;
  font-weight: 100;
}
.fle-product-list-item p {
  font-size: 18px;
  font-weight: 100;
}
.fle-product-list-item a,
.fle-product-list-item a:link,
.fle-product-list-item a:visited,
.fle-product-list-item a:hover,
.fle-product-list-item a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}