* {
  font-family: FlenderType, Arial, sans-serif;
}

h1, h2, h3, p {
  font-family: FlenderType, Arial, sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

:host {
  display: block;
}

.fle-grid-view {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}