* {
  font-family: FlenderType, Arial, sans-serif;
}

h1, h2, h3, p {
  font-family: FlenderType, Arial, sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -10;
}
:host img, :host video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}