* {
  font-family: FlenderType, Arial, sans-serif;
}

h1, h2, h3, p {
  font-family: FlenderType, Arial, sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

:host {
  display: block;
  min-width: 12rem;
  padding: 0.5rem;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #227dc6;
}