* {
  font-family: inherit;
}

.fle-image-info-tile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 992px) {
  .fle-image-info-tile {
    max-width: 100%;
    flex-flow: row nowrap;
    padding-left: 15%;
    padding-right: 15%;
    gap: 32px;
  }
  .fle-image-info-tile.reverse {
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) {
  .fle-image-info-tile .media {
    flex: 1 1 0;
  }
}
.fle-image-info-tile .info {
  background-color: unset;
  color: black;
}
@media (min-width: 992px) {
  .fle-image-info-tile .info {
    flex: 1 1 0;
  }
}